[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "githubtakeout"
version = "0.1.4"
description = "Archive public Git Repos and Gists from GitHub"
license = "MIT"
license-files = ["LICENSE"]
authors = [{name = "Corey Goldberg"}]
maintainers = [{name = "Corey Goldberg"}]
readme = "README.md"
requires-python = ">= 3.12"
keywords = ["git", "github", "archive", "backup", "export", "takeout"]
classifiers = [
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13"
]
dependencies = [
    "GitPython==3.1.44",
    "PyGithub==2.6.1"
]

[project.scripts]
githubtakeout = "githubtakeout:main"

[project.urls]
homepage = "https://github.com/cgoldberg/githubtakeout"
source = "https://github.com/cgoldberg/githubtakeout"
download = "https://pypi.org/project/githubtakeout"
